<span class="tm-pagination-label">第 {{ page_data.cur_page }} / {{ page_data.num_pages }} 頁 共 {{ page_data.count }} 筆</span>
<nav aria-label="Page navigation" class="d-inline-block">
    <ul class="pagination tm-pagination">
        <a class="page-link" onclick="changeForm('{{ acion }}?cur_page=1');"><i class="page-item fas fa-angle-double-left"></i></a>
        <a class="page-link" onclick="changeForm('{{ acion }}?cur_page={{ page_data.previous_page_number }}');"><i class="page-item fas fa-angle-left"></i></a>
        <a class="page-link" onclick="changeForm('{{ acion }}?cur_page={{ page_data.next_page_number }}');"><i class="page-item fas fa-angle-right"></i></a>
        <a class="page-link" onclick="changeForm('{{ acion }}?cur_page={{ page_data.num_pages }}');"><i class="page-item fas fa-angle-double-right"></i></a>
    </ul>
</nav>