{% extends "base.html" %}
{% block title %} 商品列表 {% endblock %}
{% block css %} 
<style>
    #div_img { 
        width:80px; 
        height:80px; 
        margin:5px auto; 
        position:relative; 
        text-align: center; 
        padding-left:50px;
    } 
    #div_img img { 
        position:absolute; 
        left:0; 
        top:0; 
        margin: 0 auto;
    } 
</style>
{% endblock %}
{% block content %}
<form id="form_data" class="tm-signup-form" method="post">
    {% csrf_token %}
    <input type="hidden" id="action_type" name="action_type" value="{{ action_type }}">
    <input type="hidden" id="check_list" name="check_list" value="">
</form>
<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="form-group col-md-4 col-sm-12">
                    <div class="input-group">
                        <input type="text" id="keywords" name="keywords" class="form-control search_input_data" placeholder="編號、名稱" value="{{ keywords }}">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" onclick="getSearchUrl('/product/product_list/');"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="hidden" id="types" name="types" class="form-control search_input_data" value="{{ types }}">
                    <input type="hidden" id="is_display" name="is_display" class="form-control search_input_data" value="{{ is_display }}">
                    <input type="hidden" id="orderby" name="orderby" class="form-control search_input_data" value="{{ orderby }}">
                    <div class="dropdown btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            類別
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for id,name in code_options.items %}
                            <a class="dropdown-item {% ifequal id types %} active {% endifequal %}" href="#" onclick="$('#types').val('{{ id }}');getSearchUrl('/product/product_list/');">{{ name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dropdown btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            顯示
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for id,name in is_display_datas.items %}
                            <a class="dropdown-item {% ifequal id is_display %} active {% endifequal %}" href="#" onclick="$('#is_display').val('{{ id }}');getSearchUrl('/product/product_list/');">{{ name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dropdown btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            排序
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for id,name in orderby_datas.items %}
                            <a class="dropdown-item {% ifequal id orderby %} active {% endifequal %}" href="#" onclick="$('#orderby').val('{{ id }}');getSearchUrl('/product/product_list/');">{{ name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-right">
                    <button type="button" class="btn btn-primary" onclick="changeForm('/product/product_data/add');">新增</button>
                    <button type="button" class="btn btn-danger check_btn" style="display:none" onclick="productSubmit('delete_list');">刪除</button>
                </div>
            </div>
            <div class="tm-table-mt tm-table-actions-row">
                <div class="tm-table-actions-col-left">
                    
                </div>
                <div class="tm-table-actions-col-right">
                    {% include "page.html" %}
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped tm-table-striped-even mt-3"  style="vertical-align: middle;">
                    <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col" class="text-center" style="width:1%;">
                                <div class="custom-control custom-checkbox">
                                    <input id="check_all" type="checkbox" value="all" onclick="checkAll()">
                                    <label for="check_all"></label>
                                </div>
                            </th>
                            <th scope="col" class="text-center" style="width:8%;">編號</th>
                            <th scope="col" class="text-center" style="width:10%;">圖片</th>
                            <th scope="col" class="text-center">名稱</th>
                            <th scope="col" class="text-center" style="width:8%;">類別</th>
                            <th scope="col" class="text-center" style="width:8%;">價錢</th>
                            <th scope="col" class="text-center" style="width:8%;">售價</th>
                            <th scope="col" class="text-center" style="width:8%;">顯示</th>
                            <th scope="col" class="text-center" style="width:12%;">動作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input id="checkbox_{{ data.uuid }}" type="checkbox" value="{{ data.uuid }}" name="check_list[]" onclick="checkId('{{ data.uuid }}')" class="check_list">
                                    <label for="checkbox_{{ data.uuid }}"></label>
                                </div>
                            </td>
                            <td class="text-center">{{ data.serial }}</td>
                            <td class="text-center">
                                <div id="div_img"> 
                                    <img src="http://photosku.com/images_file/small_images/s000_496.jpg" width="80px" height="80px"> 
                                </div> 
                            </td>
                            <td class="tm-product-name">{{ data.name }}</td>
                            <td class="text-center">{{ types_name }}</td>
                            <td class="text-center">{{ data.price }}</td>
                            <td class="text-center">{{ data.sales }}</td>
                            <td class="text-center">{{ is_display_name }}</td>
                            <td class="text-center">
                                <div class="col">
                                    <div class="btn-action">
                                        <i class="fas fa-edit tm-edit-icon" onclick="changeForm('/product/product_data/edit?uuid={{ data.uuid }}');"></i>
                                    </div>
                                    <div class="btn-action">
                                        <i class="fas fa-trash-alt tm-trash-icon" onclick="$('#check_list').val('{{ data.uuid }}');productSubmit('delete_list');"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center" colspan="7">日前沒有資料</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tm-table-mt tm-table-actions-row">
                <div class="tm-table-actions-col-left">
                    
                </div>
                <div class="tm-table-actions-col-right">
                    {% include "page.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %} 
<script type="text/javascript"> 
    $(function(){ 
        $('#div_img img').mouseenter(function(){ 
            var wValue=1.5 * $(this).width(); 
            var hValue=1.5 * $(this).height(); 
            $(this).animate({
                width: wValue, 
                height: hValue, 
                left:("-"+(0.5 * $(this).width())/2), 
                top:("-"+(0.5 * $(this).height())/2)}, 
            1000); 
        }).mouseleave(function(){ 
            $(this).animate({
                width: "100", 
                height: "80", 
                left:"0px", 
                top:"0px"
            }, 1000 ); 
        }); 
    }); 
    </script>

{% endblock %}